.titulo-pagina{
    color: var(--color-fondo-principal);
    margin-bottom: 24px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240, 1fr));
    gap: 24px
}
.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
  transition: transform 0.2s ease;
}

.card-link:hover {
  transform: translateY(-4px);
}